html
{
    background-image: url(../images/fon6.jpeg);
}
h1, h2
{
    text-align: center;
}

input+span
{
    color: green;
}

input:checked+span
{
    color:red;
    font-style: italic;
    font-weight: 900;
}

#container
{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: grey;
    width: 550px;
    height: 60px;
    justify-content: center; 
    align-items: center;
}

.one
{
    width: 100px;
    height: 50px;
    background-color: green;
    margin-left: 5px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    order: 2;
}

.two
{
    width: 100px;
    height: 50px;
    background-color: blue;
    margin-left: 5px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    order: 3;
}

.three
{
    width: 100px;
    height: 50px;
    background-color: blue;
    margin-left: 5px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    order: 0;
}

.four
{
    width: 130px;
    height: 50px;
    background-color: red;
    margin-left: 5px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    order: 1;
}

#item-1
{
    position: relative;
    top: 600px;
}

#item-2
{
    position: absolute;
    top: 25px;
    right: 45px;
}

#float-1
{
    float: right;
}

#float-2
{
    float: left;
}





